<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eon.atoi.onurpt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />


        <activity android:name=".activities.MusicActivity" android:label="@string/app_name"
            android:exported="true">
        <!-- open the app when a foo://www.example.com link is clicked -->
        <intent-filter>
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>


        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".login.PhoneRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data
                    android:host="callback"
                    android:scheme="onurpt" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity">
        </activity>

        <activity android:name=".activities.FaqActivity">
        </activity>

        <activity android:name=".activities.FoodActivity">
        </activity>

        <activity android:name=".activities.CalendarActivity">
        </activity>

        <activity android:name=".activities.WorkoutListActivity">
        </activity>

        <activity android:name=".activities.CertainExerciseActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <activity android:name=".activities.ProgramActivity">
        </activity>

        <activity android:name=".activities.PhotosActivity">
        </activity>

        <activity
            android:name=".activities.WorkoutDetailActivity"
            android:theme="@style/StyledIndicators" >
        </activity>

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme"/>

    </application>

</manifest>